body {
    background-color: black;
    color:aliceblue;
}

.viajes-logo {
    width: 122px;
    height: 43px;
}

.navbar {
    background-color: steelblue;
} 

.navbar .container-fluid .navbar-brand {
    margin-left: 90px;
}

.fas {
    background-color: steelblue;
    display: flex;
    justify-content: center;
    height: 36px;
}

.card-body {
    background-color: steelblue;
}

footer {
    background-color: steelblue;
}

.rrssVCH {
    color: #fff;
    text-decoration:none
}

.carousel {
    margin-bottom: 40px;
}

hr {
    color: steelblue;
}

.quienesTXT {
    padding:0px 20px;
}

.quienesVCH {
    margin-bottom:100px;
}