body {
    background-color: black;
    color:aliceblue;
}

html {
    scroll-behavior: smooth;
  }

header {
    margin-bottom: 45px;
}

.descatadoP {
    font-weight: 700;
    color:cornflowerblue;
}

.viajes-logo {
    width: 80px;
    height: 43px;
}

.navbar {
    background-color: steelblue;
} 

.navbar .container-fluid .navbar-brand {
    margin-left: 0px;
}

.fas {
    background-color: steelblue;
    display: flex;
    justify-content: center;
    height: 36px;
}

.iconVariantUp {
    display: flex;
}

.iconVariantDown {
    display:none;
}

.card-body {
    background-color: steelblue;
}

footer {
    background-color: steelblue;
}

.rrssVCH {
    color: #fff;
    text-decoration:none
}

.carousel {
    margin-bottom: 40px;
}

hr {
    color: steelblue;
}

.quienesTXT {
    padding:0px 20px;
}

#quienesVCH, #DestacaVCH {
    margin-bottom:100px;
}

#contactoVCH {
    margin-bottom:35px;
}

.fab {
    margin:4px 4px 0px;
}

.jraLOI {
    background-color: #fff;
}

#FormularioT {
    width: 90%;
    height:400px;
    margin: auto;
}

/* Breakpoints *//* Breakpoints *//* Breakpoints *//* Breakpoints *//* Breakpoints *//* Breakpoints *//* Breakpoints */

@media (max-width: 980px) {
    .VCH-card {
        width: 250px;
        margin: auto;
    }
}

@media (min-width: 576px) {
    .viajes-logo {
        width: 100px;
        height: 43px;
    }

    .navbar .container-fluid .navbar-brand {
        margin-left: 45px;
    }
}

@media (min-width: 768px) {
    .viajes-logo {
        width: 122px;
        height: 43px;
    }

    .navbar .container-fluid .navbar-brand {
        margin-left: 90px;
    }

    .iconVariantUp {
        display: none;
    }
    
    .iconVariantDown {
        display:flex;
    }
}
